<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <h2><a href="/">Blog Application </a></h2>
        <nav>
            <a href="/signup">Register Your Account</a>
        </nav>
    </header>
    <main>
        <h3>Hello This Is The HomePage</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet expedita praesentium suscipit quos voluptates dolore distinctio quasi in magni. Reprehenderit quia quam laboriosam fugit ullam suscipit rerum, consequatur explicabo? Vero.</p>
    </main>
    <footer><small>&copy; Our Wonderful App</small></footer>
</body>
</html>